* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #0a1f44; /* biru dongker */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #0a1f44, #163a7d);
    color: white;
}

.hero img {
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid white;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: white;
    color: #0a1f44;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 40px 20px;
    background: #f4f6fb;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #0a1f44;
    color: white;
}

