
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.navbar-left h2{
    margin:0;
}

/* MENU */
.menu{
    display:flex;
    list-style:none;
    gap:20px;
    margin:0;
    padding:0;
}

.menu a{
    text-decoration:none;
    color:black;
}

/* HERO */
.hero{
    text-align:center;
    padding:50px 20px;
}

/* VIDEO */
.video{
    text-align:center;
    padding:40px 20px;
}

.video-container iframe{
    width:60%;
    height:300px;
}

/* KONTAK */
.kontak{
    text-align:center;
    padding:40px 20px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:25px;
    font-size:25px;
}

.btn{
    padding:10px 20px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.btn.outline{
    background:white;
    color:black;
    border:1px solid black;
}
